{% extends 'base.html' %}
{% load static %}
{% block content %}

  
<head>
    <title>
        About us 
    </title>
      
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  
<body>
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section"></section>
        <div class="container">
            <img src="../images/Completo.png" alt="Logo RSS FEED JUNIOR-JOBS" >
            <h3>¿Quiénes somos?</h3>
            <p>RSS Feed facilita la manera en la que se generan las conexiones entre las empresas y los desarrolladores. Somos una plataforma que dará empleo a miles de programadores donde desplegarán sus fortalezas en el desarrollo, y así mismo alimentaremos potencialmente la industria tecnológica promoviendo las oportunidades de trabajo que terminarán en la distribución y comercialización de Software confiable por parte de nuestros clientes.</p>
            <br>
            <h3>Misión</h3>
            <p>“Ser el principal puente de conexión entre empresas y desarrolladores certificados”</p>
            <br>
            <h3>Visión</h3>
            <p>“Conectar la tecnología del mañana con los desarrolladores de hoy”</p>
            <br>
            <h3>Valores</h3>
            <ul>
                <li>Transparencia</li>
                <li>Pasión</li>
                <li>Resolución</li>
            </ul>
        </div>
    </section>
</body>

{% endblock %}