{% extends 'base.html' %}
{% load static %}
{% block content %}

  
<head>
    <title>
        Pricing 
    </title>
      
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  
<body>
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section"></section>
        <div class="container">
            <center>
                <img src="{% static 'images/Completo.png' %}" alt="Logo RSS FEED JUNIOR-JOBS" width="150px">
            </center>
            <br>
            <div class="row">
                <div class="col-sm">
                    <h4>Free (Acceso 12 días gratis)</h4>
                    <h4>$ 0 COP <span>/mes</span></h4>
                    <ul>
                        <li>Registro de Empresas y backup</li>
                        <li>Registro de Usuario y backup</li>
                        <li>Conoce las ultimas tendencias en nuestro blog</li>
                        <li>5 busquedas de empleos</li>
                    </ul>
                    <!-- <a href="https://www.paypal.com/invoice/p/#3WQY92EDCWU4MQK7" class="btn btn-primary" target=”_blank”>Comprar ahora</a> <span class="mx-2 slash"></span> -->
                </div>
                <div class="col-sm">
                    <h4>Standard</h4>
                    <h4>$ 50.000 COP <span>/Mes</span></h4>
                    <ul>
                    <li>Registro de Empresas y backup</li>
                    <li>Registro de Usuario y backup</li>
                    <li>Atualización de datos</li>
                    <li>Conoce las ultimas tendencias en nuestro blog</li>
                    <li>Busca sin límites los empleos que necesites</li>

                    </ul>
                    <a href="https://www.paypal.com/invoice/p/#3WQY92EDCWU4MQK7" class="btn btn-primary" target=”_blank”>Comprar ahora</a> <span class="mx-2 slash"></span>
                </div>
                </div>
            </div>
        <br>
        <br>
    </section>
</body>
  

{% endblock %}