{% extends 'base.html' %}
{% load static %}
{% block content %}

  
<head>
    <title>
        Q&A
    </title>
      
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  
<body>
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/ved.jpg' %}');" id="home-section"></section>
        <div class="container">
            <center>
                <img src="{% static 'images/Completo.png' %}" alt="Logo RSS FEED JUNIOR-JOBS" width="150px">
                <h2 style="margin-top: 1em; margin-bottom: 1em;">Preguntas Frecuentes</h2>
            </center>
            <h3>¿Cómo puedo postularme a las ofertas laborales?</h3>
            <p class="text-justify">
                El usuario debe estar previamente logeado en su cuenta y digitar en la <a href="{% url 'jobapp:home' %}">Homepage</a> la oferta filtrada a la cual desea acceder. Esta lo redireccionará a la página de la oferta en la cual puede aplicar presionando el botón de "Apply Now".
            </p>
            <h3>¿Cómo puedo guardar una oferta laboral?</h3>
            <p class="text-justify">
                El usuario debe estar previamente logeado en su cuenta y digitar en la <a href="{% url 'jobapp:home' %}">Homepage</a> la oferta filtrada a la cual desea acceder. Esta lo redireccionará a la página de la oferta en la cual se presenta el botón de "Save Job".
            </p>
            <h3>¿Cómo puedo consultar los empleos guardados?</h3>
            <p class="text-justify">
                El usuario debe estar previamente logeado en su cuenta y dar click la opción "Dashboard", ubicada en la parte superior derecha de la pantalla. Posteriormente, vuelve a seleccionar "Dashboard", lo cual lo redireccionará a la tabla de empleos guardados.
            </p>
            <h3>¿Cómo puedo consultar los empleos aplicados?</h3>
            <p class="text-justify">
                El usuario debe estar previamente logeado en su cuenta y dar click la opción "Dashboard", ubicada en la parte superior derecha de la pantalla. Posteriormente, vuelve a seleccionar "Dashboard", lo cual lo redireccionará a la tabla de empleos aplicados.
            </p>
            <h3>¿Existe alguna mensualidad en la plataforma?</h3>
            <p class="text-justify">
                Por supuesto, en la sección <a href="{% url 'jobapp:pricing' %}">Pricing</a> puedes encontrar más detalles al respecto.
            </p>
            <br>
        </div>
    </section>
</body>

{% endblock %}